body{
  background-image: url("../images/si.jpg");
  font-family: 'Indie Flower', cursive;
  color: gray;

}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background-color: silver;*/
  height: 500px;
}
img {
  height: 200px;
  width: 300px;
  float: right;
}



.about-me{
  display: flex;
  justify-content: content;
  font-family: 'Indie Flower', cursive;

}
